-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: MySQL-8.0    Database: SOFRONOV DB
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `SOFRONOV DB`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `SOFRONOV DB` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `SOFRONOV DB`;

--
-- Table structure for table `collections`
--

DROP TABLE IF EXISTS `collections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `collections` (
  `Код_подборки` int NOT NULL AUTO_INCREMENT,
  `Название` varchar(255) NOT NULL,
  `Код_пользователя` int NOT NULL,
  `Дата_создания` datetime NOT NULL,
  `Описание` text,
  `Публичная` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`Код_подборки`),
  KEY `Код_пользователя` (`Код_пользователя`),
  CONSTRAINT `collections_ibfk_1` FOREIGN KEY (`Код_пользователя`) REFERENCES `users` (`Код_пользователя`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `collections`
--

LOCK TABLES `collections` WRITE;
/*!40000 ALTER TABLE `collections` DISABLE KEYS */;
/*!40000 ALTER TABLE `collections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `genres`
--

DROP TABLE IF EXISTS `genres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `genres` (
  `Код_жанра` int NOT NULL AUTO_INCREMENT,
  `Название` varchar(100) NOT NULL,
  PRIMARY KEY (`Код_жанра`),
  UNIQUE KEY `Название` (`Название`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `genres`
--

LOCK TABLES `genres` WRITE;
/*!40000 ALTER TABLE `genres` DISABLE KEYS */;
INSERT INTO `genres` VALUES (1,'Боевик'),(8,'Детектив'),(3,'Драма'),(2,'Комедия'),(7,'Мелодрама'),(10,'Мультфильм'),(9,'Приключения'),(6,'Триллер'),(4,'Ужасы'),(5,'Фантастика');
/*!40000 ALTER TABLE `genres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `movie_collections`
--

DROP TABLE IF EXISTS `movie_collections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `movie_collections` (
  `Код_записи` int NOT NULL AUTO_INCREMENT,
  `Код_подборки` int NOT NULL,
  `Код_фильма` int NOT NULL,
  `Дата_добавления` datetime NOT NULL,
  `Порядок` int DEFAULT NULL,
  PRIMARY KEY (`Код_записи`),
  KEY `Код_подборки` (`Код_подборки`),
  KEY `Код_фильма` (`Код_фильма`),
  CONSTRAINT `movie_collections_ibfk_1` FOREIGN KEY (`Код_подборки`) REFERENCES `collections` (`Код_подборки`) ON DELETE CASCADE,
  CONSTRAINT `movie_collections_ibfk_2` FOREIGN KEY (`Код_фильма`) REFERENCES `movies` (`Код_фильма`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `movie_collections`
--

LOCK TABLES `movie_collections` WRITE;
/*!40000 ALTER TABLE `movie_collections` DISABLE KEYS */;
/*!40000 ALTER TABLE `movie_collections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `movies`
--

DROP TABLE IF EXISTS `movies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `movies` (
  `Код_фильма` int NOT NULL AUTO_INCREMENT,
  `Название` varchar(255) NOT NULL,
  `Год` int NOT NULL,
  `Код_жанра` int DEFAULT NULL,
  `Страна` varchar(100) DEFAULT NULL,
  `Описание` text,
  `Постер` varchar(500) DEFAULT NULL,
  `Рейтинг_средний` double DEFAULT NULL,
  PRIMARY KEY (`Код_фильма`),
  KEY `Код_жанра` (`Код_жанра`),
  CONSTRAINT `movies_ibfk_1` FOREIGN KEY (`Код_жанра`) REFERENCES `genres` (`Код_жанра`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `movies`
--

LOCK TABLES `movies` WRITE;
/*!40000 ALTER TABLE `movies` DISABLE KEYS */;
/*!40000 ALTER TABLE `movies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reviews`
--

DROP TABLE IF EXISTS `reviews`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reviews` (
  `Код_рецензии` int NOT NULL AUTO_INCREMENT,
  `Код_пользователя` int NOT NULL,
  `Код_фильма` int NOT NULL,
  `Оценка` int DEFAULT NULL,
  `Текст` text NOT NULL,
  `Дата` datetime NOT NULL,
  `Лайков` int DEFAULT '0',
  PRIMARY KEY (`Код_рецензии`),
  KEY `Код_пользователя` (`Код_пользователя`),
  KEY `Код_фильма` (`Код_фильма`),
  CONSTRAINT `reviews_ibfk_1` FOREIGN KEY (`Код_пользователя`) REFERENCES `users` (`Код_пользователя`) ON DELETE CASCADE,
  CONSTRAINT `reviews_ibfk_2` FOREIGN KEY (`Код_фильма`) REFERENCES `movies` (`Код_фильма`) ON DELETE CASCADE,
  CONSTRAINT `рецензии_chk_1` CHECK (((`Оценка` >= 1) and (`Оценка` <= 5)))
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reviews`
--

LOCK TABLES `reviews` WRITE;
/*!40000 ALTER TABLE `reviews` DISABLE KEYS */;
/*!40000 ALTER TABLE `reviews` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `Код_пользователя` int NOT NULL AUTO_INCREMENT,
  `Логин` varchar(100) NOT NULL,
  `Пароль` varchar(255) NOT NULL,
  `Email` varchar(255) NOT NULL,
  `Имя` varchar(100) DEFAULT NULL,
  `Дата_регистрации` datetime NOT NULL,
  PRIMARY KEY (`Код_пользователя`),
  UNIQUE KEY `Логин` (`Логин`),
  UNIQUE KEY `Email` (`Email`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-18  4:19:55
